name: Pre-Release - NuGet.org

on:
  release:
    types: [prereleased]

jobs:
  push:
    permissions:
      checks: write
      contents: read
      packages: write
    uses: NetChris/workflows/.github/workflows/pre-release-nuget-org.yml@v2
    secrets: inherit
