name: Release - NuGet.org

on:
  release:
    types: [released]

jobs:
  push:
    permissions:
      checks: write
      contents: read
      packages: write
    uses: NetChris/workflows/.github/workflows/release-nuget-org.yml@v2
    secrets: inherit
