name: Pre-Release - GitHub

on:
  release:
    types: [prereleased]

jobs:
  push:
    permissions:
      checks: write
      contents: read
      packages: write
    uses: NetChris/workflows/.github/workflows/pre-release-nuget-github.yml@v2
    secrets: inherit
